<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos em Card</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        .card {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }
        .card-img-top {
            height: 180px;
            object-fit: cover;
        }
        .card-body {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="container mt-4">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Jogos a venda!</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- Loop through the list of games -->
                            <div th:each="jogo : ${jogos}" class="col-md-4">
                                <div class="product">
                                    <div class="product-img">
                                        <img th:src="@{/img/} + ${jogo.imageUri}" class="card-img-top" alt="Imagem do Jogo">
                                    </div>
                                    <div class="product-body">
                                        <h5 class="product-category" th:text="${jogo.genero}">genero</h5>
                                        <h5 class="product-name" th:text="${jogo.nome}">Nome do Jogo</h5>
                                        <p class="product-price" th:text="'R$' + ${jogo.preco}">Preço do jogo</p>
                                    </div>
                                    <div class="add-to-cart">
                                        <a th:href="@{/adicionarCarrinho(id=${jogo.id})}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End loop -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
